/* VARIABLES*/
:root {
  --morado-principal: #5a3d7a;
  --lavanda: #c7b7e2;
  --crema: #f7f3ee;
  --gris-texto: #4a4a4a;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--crema);
  color: var(--gris-texto);
  overflow-x: hidden;
}

/* TIPOGRAFÍA */
h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  color: var(--morado-principal);
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  color: var(--lavanda);
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  font-size: 1.05rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* BOTONES */
button {
  background-color: var(--morado-principal);
  color: white;
  border: none;
  padding: 0.9rem 1.8rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
}

.header-logo img {
  height: 50px;
}

.header-nav {
  display: flex;
  gap: 1.5rem;
}

.header-nav a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-height: 85vh;
  padding: 2rem 6%;

  background-image:
    linear-gradient(rgba(255, 250, 244, 0.85),
      rgba(255, 250, 244, 0.85)),
    url("/image.png");

  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 600px;
  text-align: left;
}

.hero h1 {
  font-size: 3.8rem;
  margin-bottom: 0.5rem;
}

.hero h2 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.hero p {
  max-width: 500px;
  margin-bottom: 1rem;
}

/* SECCIONES */
section {
  padding: 1.2rem 6% 1.5rem;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.products-intro {
  margin: 0 0 1rem 0;
  max-width: 600px;
}

/* PRODUCTOS */
.product-card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s;
  width: 100%;
  max-width: 300px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
}

.product-card:hover img {
  transform: scale(1.05);
}

.products-card p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.product-card button {
  margin-top: auto;
}

.products {
  display: grid;
}

/* SWIPER (CARRUSEL) */
.swiper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide {
  transition: transform 0.5s ease;
}

/* Flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #5a3d7a;
}

/* Puntos */
.swiper-pagination-bullet {
  background: #c7b7e2;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #5a3d7a;
}

/* HOW TO ORDER */
.how-to-order {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 25px;
}

.how-to-order h2 {
  color: var(--morado-principal);
}

/* CONTACTO */
.contact {
  text-align: center;
  margin-top: 2rem;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact-buttons a {
  text-decoration: none;
  background-color: var(--lavanda);
  color: var(--morado-principal);
  padding: 0.7rem 1.4rem;
  border-radius: 30px;
}

/* FOOTER */
.footer {
  margin-top: 3rem;
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--morado-principal);
  color: white;
  border-radius: 30px 30px 0 0;
}

/* RESPONSIVE */
@media (max-width:768px) {

  .menu-toggle {
    display: block;
    z-index: 1001;
  }

  .header-nav {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;
    width: 250px;

    background: white;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;

    transform: translateX(100%);
    transition: 0.3s;

    z-index: 1000;
  }

  .header-nav.active {
    transform: translateX(0);
  }

  .hero {
    min-height: auto;
    padding: 2rem 1.5rem;
  }

  section {
    padding: 1.5rem;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero h2 {
    font-size: 1.6rem;
  }

  .hero p {
    font-size: 0.95rem;
  }

  .swiper {
    padding: 10px 0 30px;
  }

  .product-card {
    max-width: 260px;
    height: 420px;
  }

  .product-card img {
    height: 200px;
  }
}

/* TEXT OVERFLOW FIX */
p,
h1,
h2,
h3 {
  word-wrap: break-word;
}

.hero {
  margin-top: 0;
  padding-top: 1.5rem;
}

/* Estilo para seccion contactanos */
.contact-buttons a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-buttons svg {
    font-size: 22px;
}